{erl_opts, [
  warnings_as_errors,
  warn_export_all,
  warn_export_vars,
  warn_missing_spec,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_untyped_record,
  warn_unused_import,
  warn_unused_vars
  no_debug_info
]}.

{deps, [
  {getopt, "1.0.1"},
  {erlexec, "1.17.5"}
]}.

{escript_incl_apps,
  [rebar32nix, erlexec, getopt]}.
{escript_main_app, rebar32nix}.
{escript_name, rebar32nix}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
  [{erl_opts, [debug_info]}
]}]}.

{xref_checks, [
  deprecated_functions,
  deprecated_function_calls,
  locals_not_used,
  undefined_functions,
  undefined_function_calls
]}.
